a:hover{
    text-decoration: none;
}

.todays-info{
    width: 100%;
    padding: 3rem 10rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__local{
        width: 50%;
        display: flex;
        align-items: center;

        .location{
            padding-right: 1.5rem;
            color: $black-ish;
        }
    }

    h6{
        font-family: $body-font;
        font-size: 1.4rem;
        line-height: 2rem;
        color: $bright-red;
        padding-left: .5rem;
        // vertical-align: middle;
        // top: 50%;
        // -ms-transform: translateY(-50%);
        transform: translate(0, 25%);
    }

    .weather-icon{
        height: 2rem;
        // margin-right: 1rem;
        transform: translate(0, 50%);
    }

    .todays-date{
        color: $black-ish;
    }

}

.nav{
    // width: 100%;
    // height: 20vh;
    // background: $bright-red;
    margin: 0 10rem;

    &-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vw 0;
        padding-top: 1vw;
        border-bottom: solid 1px lightgray;

        .logo{

            &-heading{
                display: flex;
                font-family: $heading-font;
                
                h1{
                    font-size: 5rem;
                }

                &--black{
                    color: $black-ish;
                }

                &--red{
                    color: $bright-red;
                }
            }

            &-text{
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                text-transform: uppercase;
                font-family: $body-font;
                color: $bright-red;

                h3{
                    padding-left: 1rem;
                    font-size: 1.5rem;
                    font-weight: 800;
                }

                .line{
                    width: 3rem;
                    height: .75rem;
                    border-bottom: solid 2px $bright-red;
                }
            }
        }

        .search-bar{
            .search{
                height: 3.5rem;
                width: 25rem;
                padding: 0.75rem 1.5rem;
                font-family: $body-font;
                font-size: 1.5rem;
                line-height: 1.5rem;
                border-radius: 3rem;
                border: none;
                box-shadow: inset 0 0 5px grey;
                margin-right: 1rem;
            }

            .submit-btn{
                height: 3.5rem;
                width: 3.5rem;
                border-radius: 3.5rem;
                background: $bright-red;
                border: none;
                color: $white;
                font-size: 1.2rem;
            }
        }
    }


    &-options{
        padding: 1.5vw 10rem;
        width: 100%;
        border-bottom: solid 1px lightgray;

        ul{           
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;

            .nav-option{
                padding: 0 1.5vw;
                font-family: $body-font;
                font-size: .9vw;
                line-height: .9vw;
                text-transform: uppercase;    
                letter-spacing: .1vw;
                font-weight: 600;   
                cursor: pointer;
            }

            :hover{
                color: $bright-red;
            }

            .current{
                color: $bright-red;

            }
        }
    }
}