// media queries
$mobile: "(max-width: 600px)";
$tablet: "(min-width:601px) and (max-width:1023px)";
$desktop: "(min-width:1024px)";

// fonts
$heading-font: 'Abril Fatface', cursive;
$body-font: 'Martel Sans', sans-serif;

// colours
$white: #FAFAEE;
$cool-neutral: #C1B19A;
$neutral: #CB9A72;
$bright-red: #BB0119;
$dark-red: #86000B;
$black-ish: #16100A;